<!doctype html>
<html lang="zh-CN">
  <%const {yjjb}=require(`./mock.json`)%>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="no-transform" http-equiv="Cache-Control">
  <meta content="no-siteapp" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="Cache-Control">
  <meta content="form-action 'self' *.ieduchina.com;" http-equiv="Content-Security-Policy">
  <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" name="viewport">
  <meta content="https://m.ieduchina.com/statics/w/img/logol.png" itemprop="image">
  <meta content="webkit" name="renderer">
  <link href="https://m.ieduchina.com/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title>2025全球多元化升学论坛大湾区国际教育名校择校展-香港教育论坛 - 国际教育网</title>
  <meta content="升学论坛,香港教育论坛" name="keywords">
  <meta content="2025年5月10日，由国际教育网主办的“全球多元化升学论坛·大湾区国际教育名校择校展”在深圳福田圆满落幕。论坛围绕香港多元化教育的优势与特色展开了深入的探讨，并与内地教育进行了比较分析。同时汇聚了众多香港&内地优质国际学校，从Band1精英中学到特色Band2/3学校，从国际名校到港澳子弟学校，涵盖从幼儿园到高中的全学段教育，全面覆盖DSE、AP、IB、A-Level主流国际课程体系，满足不同学术水平、教育预算及升学路径的需求。" name="description">
  <link rel="apple-touch-icon" href="https://m.ieduchina.com/statics/images/c14def69.jpg">
  <meta property="og:description" content="2025年5月10日，由国际教育网主办的“全球多元化升学论坛·大湾区国际教育名校择校展”在深圳福田圆满落幕。论坛围绕香港多元化教育的优势与特色展开了深入的探讨，并与内地教育进行了比较分析。同时汇聚了众多香港&内地优质国际学校，从Band1精英中学到特色Band2/3学校，从国际名校到港澳子弟学校，涵盖从幼儿园到高中的全学段教育，全面覆盖DSE、AP、IB、A-Level主流国际课程体系，满足不同学术水平、教育预算及升学路径的需求。" />
  <link href="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/tcplayer.min.css" rel="stylesheet">
  <script>
    ! function() {
      var t = document.documentElement.clientWidth,
        n = document.createElement("style");
      /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ? n.innerHTML = "html{font-size: " + t / 750 + "px !important;}" : n.innerHTML = "html{font-size: 1px !important;width:750px!important;margin:0 auto !important;;}", document.head.appendChild(n)
    }()
  </script>
  <script type="text/javascript">
    if (!(/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|OperaMini/i.test(navigator.userAgent))) {
        window.location.href = "https://www.ieduchina.com/topic/2025/sz/";
    }
  </script>
</head>

<body>
  <img src="https://m.ieduchina.com/statics/images/c14def69.jpg" width="0" height="0" style="display:none;">
  <%=require(`@cs/header-wap/index.ejs`)()%>
  <section>
    <%=require(`@cs/banner-wap/index.ejs`)()%>
    <%=require(`@cs/lthg-wap/index.ejs`)()%>
    <%=require(`@cs/ztyj-wap/index.ejs`)({data:yjjb})%>
    <%=require(`@cs/videos-wap/index.ejs`)()%>
    <%=require(`@cs/hdxc-wap/index.ejs`)()%>
    <%=require(`@cs/school-wap/index.ejs`)()%>
    <%=require(`@cs/ltxw-wap/index.ejs`)()%>
    <%=require(`@cs/wqhg-wap/index.ejs`)()%>
    <%=require(`@cs/form-wap/index.ejs`)()%>
  </section>
  <%=require(`@cs/footer-wap/index.ejs`)()%>
  <%=require(`@cs/footer-nav-wap/index.ejs`)()%>
  <script src="https://m.ieduchina.com/statics/js/jquery-3.7.1.min.js"></script>
  <script src="https://m.ieduchina.com/statics/users/js/layer.js"></script>
  <script src="https://cloudcache.tencentcs.com/qcloud/video/dist/tcadapter.1.0.0.min.js"></script>
  <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/TXLivePlayer-1.2.3.min.js"></script>
  <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/hls.min.1.1.5.js"></script>
  <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/flv.min.1.6.3.js"></script>
  <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/dash.all.min.4.4.1.js"></script>
  <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/tcplayer.v4.5.4.min.js"></script>
  <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <script src="https://m.ieduchina.com/topic/weixinShare.js?t=2025"></script>
  <script src="https://m.ieduchina.com/topic/tgFrom.js?t=2025" defer="defer"></script>
</body>

</html>