<div class="hdxc">
    <%=require(`../title/index.ejs`)({cn:"活动现场",en:"Activity site"})%>
    <div class="images">
        <img src="<%=require(`./蒙版组 23@1x.png`)%>" alt="">
        <img src="<%=require(`./蒙版组 24@1x.png`)%>" alt="">
        <img src="<%=require(`./蒙版组 25@1x.png`)%>" alt="">
        <img src="<%=require(`./蒙版组 26@1x.png`)%>" alt="">
        <img src="<%=require(`./蒙版组 27@1x.png`)%>" alt="">
        <img src="<%=require(`./蒙版组 28@1x.png`)%>" alt="">
    </div>
    <a href="https://m.inmuu.com/v2/photolive/news/4767131/photo?inviteId=7019896" target="_blank" rel="nofollow">照片直播&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;→</a>
</div>