<%const school=[
  
  {
    id:2,
    name:"中华基金中学",
    image:"中华基金中学",
    href:"https://schoollist.ieduchina.com/school/cfss/"
  },
  {
    id:3,
      name:"基督教香港信义会元朗信义中学",
      image:"基督教香港信义会元朗信义中学",
      href:"https://schoollist.ieduchina.com/school/yllhk/"
    },
    {
      id:4,
      name:"沙田培英中学",
      image:"沙田培英中学",
      href:"https://schoollist.ieduchina.com/school/pyc/"
    },
    {
      id:5,
      name:"香港威雅学校",
      image:"香港威雅学校",
      href:"https://schoollist.ieduchina.com/school/wygx/"
    },
    {
    id:1,
    name:"港青基信书院",
    image:"港青基信书院",
    href:"https://schoollist.ieduchina.com/school/yhkcc/"
  },
  {
      id:7,
      name:"The Harbour School",
      image:"The Harbour School",
      href:"https://schoollist.ieduchina.com/school/gwxx/"
    },
    
   
    {
      id:8,
      name:"深圳市深美外籍人员子女学校",
      image:"深圳市深美外籍人员子女学校",
      href:"https://schoollist.ieduchina.com/school/sais/"
    },
    {
      id:9,
      name:"深圳前海哈罗港人子弟学校",
      image:"深圳前海哈罗港人子弟学校",
      href:"https://schoollist.ieduchina.com/school/hhkcs/"
    },
    {
      id:10,
      name:"前海哈罗外籍人员子女学校",
      image:"前海哈罗外籍人员子女学校",
      href:"https://schoollist.ieduchina.com/school/harrowshenzhen/"
    },
    {
      id:6,
      name:"慈善基金马陈端喜纪念中学",
      image:"慈善基金马陈端喜纪念中学",
      href:"https://schoollist.ieduchina.com/school/mcdhmchk/"
    },
    {
      id:11,
      name:"荔湾圣士提芬书院",
      image:"荔湾圣士提芬书院",
      href:"https://schoollist.ieduchina.com/school/gdsyzxaleve/"
    },
    {
      id:12,
      name:"明爱圣若瑟中学",
      image:"明爱圣若瑟中学",
      href:"https://schoollist.ieduchina.com/school/csjsshk/"
    },
    {
      id:13,
      name:"明爱庄月明中学",
      image:"明爱庄月明中学",
      href:"https://schoollist.ieduchina.com/school/ccymhk/"
    },
    {
      id:14,
      name:"元朗公立中学校友会邓英业小学",
      image:"元朗公立中学校友会邓英业小学",
      href:"https://schoollist.ieduchina.com/school/aluhk/"
    },
    {
      id:15,
      name:"东莞暨大港澳子弟学校",
      image:"东莞暨大港澳子弟学校",
      href:"https://schoollist.ieduchina.com/school/asjdg/"
    },
    
    {
      id:17,
      name:"苏浙公学",
      image:"苏浙公学",
      href:"https://schoollist.ieduchina.com/school/kccnp/"
    },
    {
      id:18,
      name:"香港中文大学校友会联会张煊昌中学",
      image:"香港中文大學校友會聯會張煊昌中學",
      href:"https://schoollist.ieduchina.com/school/tcss/"
    },
    {
      id:19,
      name:"广州市源雅学校DSE课程中心",
      image:"广州市源雅学校DSE课程中心",
      href:"https://schoollist.ieduchina.com/school/yuanyadse/"
    },
    {
      id:20,
      name:"深圳市正德高级中学DSE学部",
      image:"深圳市正德高级中学DSE学部",
      href:"https://schoollist.ieduchina.com/school/zhengdexx/"
    },
    {
      id:16,
      name:"深圳丽林维育维多利亚国际学校",
      image:"深圳丽林维育维多利亚国际学校",
      href:"https://schoollist.ieduchina.com/school/VPA/"
    },
    {
      id:21,
      name:"PKF移民",
      image:"PKF移民",
      href:"https://www.ieduchina.com/institution/114/index.html"
    },
    {
      id:22,
      name:"",
      image:"more",
      href:"https://schoollist.ieduchina.com/"
    }
]%>
<div class="school">
  <%=require(`../title/index.ejs`)({cn:"参与院校",en:"School"})%>
  <ul>
    <%school.forEach(item=>{%>
    <li>
      <a href="<%=item.href%>">
        <img loading="lazy" src="<%=require(`../school/images/${item.image}.png`)%>" alt="<%=item.name%>">
        <p><%=item.name%></p>
      </a>
    </li>
    <%})%>
  </ul>
</div>